.loading {
  /* display: none; */
  /* z-index: 2; */
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  /* opacity: 0.7; */
}

.animation {
  position: relative;
}

#box-simple-loading {
  justify-content: center;
  align-items: center;
  overflow: visible;
}

#loading {
  margin: 2px;
  font-size: large;
  animation: fade 0.4s linear 0s infinite alternate;
}

#dot-1 {
  margin: 2px;
  font-size: x-large;
  animation: jump 0.3s linear 0s infinite alternate;
}

#dot-2 {
  margin: 2px;
  font-size: x-large;
  animation: jump 0.3s linear 0.2s infinite alternate;
}

#dot-3 {
  margin: 2px;
  font-size: x-large;
  animation: jump 0.3s linear 0.35s infinite alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    top: 1px;
  }
  100% {
    opacity: 0.4;
    top: 2px;
  }
}

@keyframes jump {
  0% {
    top: 0px;
    opacity: 0.6;
  }
  25% {
    opacity: 0.6;
    top: -1px;
  }
  50% {
    opacity: 0.6;
    top: -2px;
  }
  100% {
    opacity: 0.6;
    top: -3px;
  }
}
